*{
    margin: 0;
    padding:0;
    list-style-type: none;

}
.container
{
     display: flex;
     align-items: center;
     justify-content: center;
     height: 100vh;
}
.center 
{
     width: 100%;
}
.center li 
{
    width: 100%;
    /* text-align: center; */
    font-family: 'Montserrat', sans-serif;
}
.li-about
{
    padding-top:5%;
}

.container-about
{
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 60vh; */
}

.simple-dog
{
    font-size: 18px;
    padding-right:5px;
}